---
interface BreadcrumbItem {
  href?: string;
  label: string;
  current?: boolean;
}

interface Props {
  items: BreadcrumbItem[];
}

const { items } = Astro.props;
---

<div class="breadcrumb">
  <div class="breadcrumb__container">
    <nav aria-label="パンくずナビゲーション">
      <ol class="breadcrumb__list">
        {items.map((item, index) => (
          <li class={`breadcrumb__item ${item.current ? 'breadcrumb__item--current' : ''}`} aria-current={item.current ? 'page' : undefined}>
            {item.href && !item.current ? (
              <a href={item.href}>{item.label}</a>
            ) : (
              item.label
            )}
          </li>
        ))}
      </ol>
    </nav>
  </div>
</div>

<style lang="scss">
  @import "../styles/index";

  .breadcrumb {
    padding: rem(20) 0;
    background: $background-primary;
    @include breakpoint-up(lg) {
      padding: rem(50) 0 rem(20);
    }

    &__container {
      margin: 0 auto;
      padding: 0 0 0 5%;
      @include breakpoint-up(xl) {
        padding: 0 0 0 rem(50);
      }
    }

    &__list {
      display: flex;
      align-items: center;
      gap: rem(8);
      list-style: none;
      margin: 0;
      padding: 0;
      @include font-ja-3s;
    }

    &__item {
      display: flex;
      align-items: center;

      &:not(:last-child)::after {
        content: '>';
        margin-left: rem(8);
        color: $text-secondary;
      }

      a {
        @include font-ja-3s(semibold);
        color: $text-link;
        text-decoration: underline;

        &:hover {
          color: $text-link-hover;
          text-decoration: underline;
        }
      }

      &--current {
        @include font-ja-3s;
        color: $text-primary;
        font-weight: 500;
      }
    }
  }
</style>